a{color:#1975d1}
.block-header a{color:#1975d1}
.headerProxy-overlay{background:#1975d1;opacity:.95}
.p-footer{color:#edf6fd;background:#1975d1}
.p-navSticky.is-sticky{background:#1975d1;box-shadow:0 0 8px 3px rgba(0,0,0,.12)}
.menu-content{border-top:3px solid #1975d1}
.menu-arrow{border-bottom-color:#fff}
.featPosts__head{color:#1975d1}
.memberHeader-name{color:#1975d1}
.block-tabHeader .tabs-tab.is-active{border-color:#1975d1}
.button.button--link,a.button.button--link{color:#1975d1;border-color:#1975d1 #1975d1 #1975d1 #1975d1}
.userBanner.userBanner--primary,.userBanner.userBanner--staff{color:#1975d1;background:#edf6fd;border-color:#bfdff8;border-color:#bcdef5}
.block-header{background:#1975d1}
.blockLink.is-selected{color:#1975d1}
.button.button--scroll,a.button.button--scroll{background:#1975d1;opacity:.75;border-color: #1975d1 #1975d1 #1975d1 #1975d1;}
.button.button--primary,a.button.button--primary{background:#1975d1;border-color: #1975d1;}
.dataList-row.dataList-row--header .dataList-cell{color:#1975d1}
.offCanvasMenu--nav .offCanvasMenu-content{background:#1975d1}
.node--unread .node-icon i:before {color: #1975d1;}
h4.menu-tabHeader.tabs {color: #1975d1;}
.menu-tabHeader .tabs-tab.is-active {color: #1975d1;border-color: #1975d1;}